# --- Backend (apps/backend) ---
PORT=3000

# --- Database settings ---
# Storage in Firestore
DB_PROVIDER=firestore
# OR in MongoDB
DB_PROVIDER=mongo
MONGO_URI=your-mongodb-connection-string
# ---

# --- OAuth2 and JWT settings ---
GCP_PROJECT_ID=your-gcp-project-id
GOOGLE_CLIENT_ID=your-google-oauth2-client-id
JWT_SECRET=your-strong-random-secret
ALLOWED_EMAILS_PATH=allowed-emails.txt
# ---
