Let's build together a web application called "Secret Santa" which takes a list of names and randomly creates pairs of two names.
The pairing process is called a Session and has a name and the creation date. 

Technical requirements:
* frontend should be Angular
* backend should be Node.js and you can pick the framework as long as it's modern and well-documented
* DB should be nosql
* APIs should be gRPC
* the backend and frontend will be deployed to my personal GCP account and store in a Firestore DB
* organize the codebase as a monorepo but backend and frontend will be deployed as separate services
* when changes are brought to the main branch, the CI/CD should be triggered and the application deployed in GCP

Functional requirements:
* the name field is the unique identifier of a Session
* each name in a Session must be unique
* a Session must not contain a pair that already exists in the previous Session
* generating the pairs and the Session objects is done in the backend, not he frontend
* the pairs should be simply stored in a string field of the Session entity; ensure that the pairs can be parsed to be displayed in a user friendly way in the UX
* generate the required .gitignore file

UX requirements:
* Top section:
	* a set of input boxes, one per name, showing the names from the previous Session, if one exists
	* each input box has an "X" button next to it allowing to removes the box
	* a blank input box with a + button next to it allowing to add a new name to the list
	* a "Generate Pairs" button to generate a new Session using the names above and display it to the user (don't store it in the DB yet)
	* a "Save Session" button which asks the user for a name and then stores the Session in the DB

* Bottom section:
	* displays as plain text all Session entities in the DB, each in its own panel, ordered descending by creation date
	* for each Session the name and created_at fields should be displayed
	
When saving a new Session in the DB make sure to refresh the bottom panel so that it it also displayed there.